<div class="container-fluid">
	<div>
		<%= render partial: "header" %>
	</div>
	<div class="row">
		<div class="col-md-8">
			<div>
				<%= render partial: "article", locals: {article: get_content("1.121")} %>
			</div>	
		</div>
		<div class="col-md-4">
			<%= render partial: "right" %>
		</div>
	</div>

</div>



